body {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.button{
    padding: 50px 50px;
    cursor: pointer;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
}

