body {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
}

.button{
    padding: 50px 50px;
    cursor: pointer;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
}

.button:focus{
    outline: none;
    box-shadow: none;
}

